{% load static %}


  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark text-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/adminpanel/adminhome">Admin Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">WebsiteUser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminpanel/Question-page">Question</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/adminpanel/Social-Links">Social Links</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
          </li>
        </ul>
          <a class="nav-link Logout" href="#">Logout</a>
      </div>
    </div>
  </nav>

  <script>
    const Logout = document.querySelector(".Logout");

    Logout.addEventListener("click",()=>{
      let auth = localStorage.getItem("auth");

      if(auth != null){
        localStorage.removeItem("auth");
        window.location.reload();
        window.location.href = "/adminpanel/adminhome"
      }else{
        
      }
    })
  </script>