<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media links -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#" class="btn btn-outline-light btn-floating m-1"><i class="fa-brands fa-android"></i></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          We believe in hard and smart work, adding value and dedication to reach your goals. It's a fact that one that does not do hard work will see no results whatsoever. The remedies suggestion given in this report may help you move towards achieving your goals. You will get no results whatsoever if you assume by reading up information, reading the report your life will change with riches. Your results are based on your actions. We never undertake any responsibility for any results. All suggestions and information provided herein are in good faith, to the best of our knowledge, and based on the birth details (date, time, and place) provided by you and successful outcomes in the past.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">
                  Contact Information 
                  
                  2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Email: info.nhmcpune@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">Whatsapp: 917593275</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">NHMC</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->