{% include "../index.html" %}
{% include "../Navbar.html" %}
{% load static %}


<div class=" text-center p-5" style="background: linear-gradient(to bottom right, #6CE9EF, #39FC16);">
  <div class="row">
    <div class="col align-self-center rounded-5" style="width:18rem">
        <img class="figure-img img-fluid rounded" src="{% static 'images/Tiny characters with symbols of zodiac signs and magic ball.jpg'%}" alt="Card image cap">
    </div>
    <div class="col align-self-center">
      <h2 >KUNDLI MATCHING</h2>
      <p >The most critical aspect that drives a healthy and happy relationship in any marriage is the ‘bond’ between the two people. A stronger bond cannot function without adequate compatibility. Kundali Matching is a Vedic compatibility analysis of a couple. From uncertainty to finding out the equation of a couple, matching Kundli assures that married life is happy, healthy, and blissful.</p>
      <a href="#kundaliform" class="btn btn-primary" style="font-weight: bold;">Create Your Free Kundali Now</a>
    </div>
  </div>
</div>
<div style="background-color: rgb(50, 0, 0);padding-bottom: 1.2rem;">
  <div class="container" style="display: flex;justify-content: center;padding: 1.2rem;">
    <h1 style="color: #fff;">Create Your Free Kundali</h1>
  </div>

  {% include "../Kundaliform.html" %}
</div>

<div class="mb-5 mt-5 p-5" style="background-color: azure;">
    <div class="row" >
          <div class="col-sm  align-self-center rounded-5" >
            <img class="figure-img img-fluid rounded" src="{% static 'images/Tiny persons and horoscope circle with zodiac signs.jpg' %}" alt="Card image cap">
          </div>
          <div class="col-sm align-self-center">
            <h2 class="card-title">WHAT IS KUNDLI MATCHING</h2>
            <p class="card-text">Contemporary life that we are living is very different from what our ancestors lived in. Gender roles have evolved and people are more liberal and rational. At the same time, due to such fast lives we are losing virtues of patience and perseverance. This is why it becomes imperative to take precautionary actions and learn about possible outcomes when available. Kundali Matching gives you an idea of an astrological prediction of how much the couple’s married life will be happy, peaceful and prosperous.</p>
            <a href="#kundaliform" class="btn btn-primary" style="font-weight: bold;">Create Your Free Kundali Now</a>
          </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>HOW KUNDLI MATCHING WORKS ?</h1>
    <p class="card-text" style="color:black">Kundli Matching, also known as Guna Milan, is the most critical component of any Hindu marriage. To ensure a happy and long married life, Hindu astrology considers it is imperative to conduct a Janam Kundli Milan before a couple marry. Traditionally, Kundali matching was performed by a family priest or an Astrologer. However, Online Kundali Matching, is now a simple and quick tool to determine a couple's marriage compatibility.</p>

    <p class="card-text" style="font-weight: 800;">There are primarily two methods for matching a boy and girl's Horoscope:</p>
</div>

<div class=" position-relative top-10 p-5 mt-5" style="background-color:honeydew;">
  <h2 style="text-align: center;" class="mb-5">WHY KUNDLI MATCHING?</h2>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action bg-primary text-white mb-3" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">1. Compatibility</h4>
        <small></small>
      </div>
      <small>The key purpose of Kundli matching is to evaluate the level of compatibility between the couple basis a total of 36 attributes, called Gunas in astrology. Each Guna represents a distinct and critical aspect of life and is assigned a different value against which the couple’s score is stacked. As per Vedic Astrology, the higher the score the smoother the life of the couple.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-success text-white mb-3" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">2. Stability</h4>
        <small></small>
      </div>
      <small>When two people marry each other, the planetary movements in their own horoscopes affect not only their lives but also the lives of their spouse. ‘Bhakoot’, the seventh of the eight Gunas, represents this joint impact. Kundli pairing allows us to check for important factors such as financial stability and career progression and overall comfort indicators.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white mb-3" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">3. Expert Guidance</h4>
        <small></small>
      </div>
      <small>At Vedic Rishi, we have our in-house Principal Astrologer, Pandit Rishiraj Tiwari who is a field-expert with over 30 years of extensive work in vedic astrology and vastu shastra. Panditji has vast experience in consulting and helping couples deal with difficult marital challenges and direct them towards a blissful married life.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-warning text-dark mb-3" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">4. Doshas</h4>
        <small></small>
      </div>
      <small>According to Vedic Astrology, the fate of a star is determined by the position of the stars in the sky at the time of its birth. When the stars are not aligned correctly, they cause Doshas such as Sarpa Dosha, Mangal Dosha, Shani Dosha, etc. These doshas can pose issues after marriage which Kundali Matching can help uncover.</small>
    </a>
  </div>
</div>
</hr>

<div class="container p-5">
  <a href="#kundaliform" class="btn btn-primary d-flex justify-content-center" style="font-weight: bold;font-size: 1.3rem;">Create Your Free Kundali Now</a>
</div>


{% include "../Footer.html" %}